body {
    background-color:  rgb(225 220 59 / 81%);
    font-family: engage;
    font-size: 16px;
}

/* Header Stuff Goes Here*/
header {
    background-color:  rgb(17 224 228); 
    font-size: x-large;
    padding: 10px 60px 10px 10px;
}
header h1 {
    color: white;
    margin: 0;
    padding: 10px 10px 10px 10px;
}
header p {
    color: white;
    margin: 0;
    font-family: eightone;
    letter-spacing: 1.5px;

}
/*Nav stuff goes here*/
nav {
    background-color: rgb(193,255,182);  
}
nav ul {
    list-style-type: none;
    margin: 0;
    font-size: large;
    padding: 2rem 2rem;
    display: flex;
}
nav a {
    text-decoration: none;
    color: rgb(193,255,182);
    padding: 2vw; 
    background-color: white;
}
nav li.active a {
    background-color:  rgb(254 71 255 / 82%);
}
nav a:hover {
    color: black;
}
/* main Stuff Goes Here*/
main {
    padding: 1rem 2%;
}
main h1 {
    color:  rgb(254 71 255 / 82%);
    padding: 0px 0px 0px 40px;
}
main h2 {
    color:  rgb(17 224 228);
    padding: 0px 0px 0px 40px; 
}
main p {
    font-family: eightone;
}
main dt {
    color:  rgb(17 224 228);
    font-size: 30px;
}
main dl {
    padding: 0px 0px 0px 30px;
}
main ol {
    background-color:  rgb(17 224 228);
    padding: .5rem 3vw; 
}
main dl dt {
    color:   rgb(17 224 228);
    list-style: circle;
    font-size: .9rem;
}
main ol {
    list-style: circle;
}
main ul {
    list-style: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
footer {
    text-align: center;
    color: rgb(17 224 228);
    padding: 1rem 0;
    font-size: .8rem;
}
footer a{
    color: black;
}
